* { box-sizing: border-box }

html{
    scroll-behavior: smooth;
}

body {
    margin: 0; /* tek út sjálgefið 10px margin */
    /* font-family: ;*/
    font: 400 1em/1.5 'Open Sans',sans-serif; /* samsett skipun: weight/height, size, family */
    background-color: rgba(7, 0, 112, 0.829);
}
h1 {
    font-weight: 300;
    font-size: 2.5em;
}
.headcolor, .footcolor{
    color: #fff;
}
.bground{
    background-color: rgba(226, 174, 96, 0.973);
    padding: 1em;
    background-image: linear-gradient(to right,rgba(226, 174, 96, 0.973),rgba(206, 189, 164, 0.973));
}
blockquote{
    background-color: rgba(255,255,255,0.3);
    padding: 1em;
}

.container {
    max-width: 60em; /*960px = fartölvur*/
    margin: 0 auto; /* top+bottom og left+right */
    padding: 0;
}
.topbutt{
    display: block;
    position: fixed;
    bottom: 2em;
    right: 2em ;
    border-radius: 100%; 
    padding: 0 .4em;
    text-decoration: none;
    font-size: 2em;
    color: rgba(7, 0, 112, 0.829);
    border: 2px solid rgba(7, 0, 112, 0.829);
    background-color: rgba(226, 174, 96, 0.973) ;
}
/* grid */
.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.col-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.gap-4 {
    grid-gap: 4em;
 }
 .headcolor h1{
     margin: 2em,0,1,0;
 }
 .headcolor p{
  text-align: right;
}
 .headcolor h1 ,
 .topnav a,.footnav a{
     color: rgb(238, 209, 171);
     text-decoration: none;
 }
 .topnav a:hover,
 .footnav a:hover{
     text-decoration: underline;
 }
 .topnav{
     margin-top: 4em;
     margin-bottom: 2em ;
 }
.footnav li {
    list-style-type: none;
    line-height: 2;
}
.footnav{
    padding: 0;
}
.topnav a{
    padding-left: 2em;
}
.innermenu {
    display:flex;
    flex-flow: row;
    justify-content:center;
    padding-top: 1em;
}
.innermenu a{
    background-color: darkblue;
    text-decoration: none;
    color: rgb(238, 209, 171);
    padding: .5em 1em;
    border-right: 1px solid #fff; 
}
.innermenu a:active,
.innermenu a:hover{
    background-color: rgb(238, 209, 171);
    color: darkblue;
}
.innermenu a:last-child{
    border: 0;
}
.marginbottom{
    margin: .5em 0 0 0;
}
.copy{
    text-align: center;
    color: rgb(238, 209, 171);
}
.vheigt{
    height: 100vh;
}