body{
    border: 2px solid brown;
    max-width: 50em;
    padding: 1em;
    padding: 1em;
    margin: 1em auto;
    
}
h1{
    color:brown;

}
body {
    background-color: burlywood;
}
.lennon{
    color: blue;
}